body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
    position: relative;
    top: 50px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin-bottom: 10px;
    display: block;
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

#manualCryptoPriceContainer {
    display: none;
    margin-bottom: 10px;
}

.currency-selector {
    position: absolute;
    top: 10px;
    right: 20px;
}
